<!-- ======= .grid_12 - block begin ======= -->
<section class="grid_12">
	<div class="box">
		<div class="title"><span class="icon16_sprite i_network_monitor"></span>
			Editing group 
			<%= link_to 'Back', groups_path, :class => "fr" %>
		</div>
		
		<div class="inside">
			<!-- formee-->
				<%= render 'form' %>
			<!-- formee-->
		</div>
	</div>
</section>
<div class="clear"></div>
<!-- ======= .grid_12 - block end ======= -->
